h6.footer{
    color: #6C757D;
}

h5{
    color: #343A40;
    font-weight: bold;
}

.navbar{
    background-color: rgb(190, 217, 229);
}

/* .nav-mobile > .nav-item{
    color: red;
}

.nav-mobile > .active{
    color: black;
} */